<!DOCTYPE html>
<!--<meta http-equiv="Content-Type" content="text/html; charset=cp1251" />-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<form action="/users/add" method="POST">
    First Name: <input type="text" name="first_name"/>
    Last Name: <input type="text" name="last_name"/>
    Salary: <input type="number" name="salary" min="0"/>
    Date of birth:
    <input type="date" name="birth">
    <input type="submit" value="Add user"/>
</form>

</body>
</html>