<!DOCTYPE html>
<!--<meta http-equiv="Content-Type" content="text/html; charset=cp1251" />-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/users" method="POST" accept-charset="UTF-8">
    First Name: <input type="text" name="first_name" value="${editUserFirstName}" />
    Last Name: <input type="text" name="last_name" value="${editUserLastName}" />
    Salary: <input type="number" name="salary" min="0" value="${editUserSalary}" />
    Date of birth:
    <!--    <input type="number" name="year" placeholder="Year"/>-->
    <!--    <input type="number" name="month" placeholder="Month"/>-->
    <!--    <input type="number" name="day" placeholder="Day"/>-->
    <input type="date" name="birth" value="${editUserBirth}" />
    <input type="hidden" name="editUserId" value="${editUserId}" />
    <input type="submit" value="Edit user"/>
</form>

</body>
</html>