<!DOCTYPE html>
<!--<meta http-equiv="Content-Type" content="text/html; charset=cp1251" />-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="E:\style.css" type="text/css">
</head>
<body>

<form action="/users/add" method="GET">
    <input type="submit" value="Add user"/>
</form>

<form action="/users/search" method="GET">
    <input type="text" name="searchUsers" />
    <input type="submit" value="SearchUsers"/>
</form>

<table>
    <tr><th colspan="6">Users store table</th></tr>
    <#if userLists??>
        <#list userLists as userList>
            <tr>
                <td>${userList.userId}</td>
                <td>${userList.firstName}</td>
                <td>${userList.lastName}</td>
                <td>${userList.salary}</td>
                <td>${userList.birth}</td>
                <td>
                    <form action="/users/remove" method="POST">
                        <input type="hidden" name="delUserId" value=${userList.userId} />
                        <input type="submit" value="DelUser"/>
                    </form>
                    <form action="/users/edit" method="GET" accept-charset="UTF-8">
                        <input type="hidden" name="editUserId" value=${userList.userId} />
                        <input type="hidden" name="editUserFirstName" value="${userList.firstName}" />
                        <input type="hidden" name="editUserLastName" value="${userList.lastName}" />
                        <input type="hidden" name="editUserSalary" value="${userList.salary}" />
                        <input type="hidden" name="editUserBirth" value="${userList.birth}" />
                        <input type="submit" value="EditUser"/>
                    </form>
                </td>
            </tr>
        </#list>
    <#else>
        No users
    </#if>
</table>

</body>
</html>