<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>UsersStore</display-name>
    <servlet>
        <servlet-name>AddUsersServlet</servlet-name>
        <servlet-class>orlovskyi.web.servlets.AddUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUsersServlet</servlet-name>
        <servlet-class>orlovskyi.web.servlets.EditUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfUsersServlet</servlet-name>
        <servlet-class>orlovskyi.web.servlets.ListOfUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUsersServlet</servlet-name>
        <servlet-class>orlovskyi.web.servlets.RemoveUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersServlet</servlet-name>
        <servlet-class>orlovskyi.web.servlets.SearchUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUsersServlet</servlet-name>
        <url-pattern>/users/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUsersServlet</servlet-name>
        <url-pattern>/users/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfUsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUsersServlet</servlet-name>
        <url-pattern>/users/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersServlet</servlet-name>
        <url-pattern>/users/search</url-pattern>
    </servlet-mapping>
</web-app>